# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Cache
/web/app/cache/
/web/app/advanced-cache.php
/web/app/wp-cache-config.php

# Deployment stuff
!/deploy/config
/deploy/config/*
!/deploy/config/utils/*
!/deploy/config/post-update
!/deploy/config/setup.sh

/deploy/data

# Docker
/docker/mysql/initdb/dump.sql

# Plugins to NOT ignore
!/web/app/plugins/wp.block-tableofcontents

# Logs
*.log
